* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "figtree", sans-serif;
}

.container {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 2rem;
}

.container_edit {
    padding: 1rem;
    margin: 0 auto;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form_edit {
    width: 550px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-size: 2rem;
}

button {
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 2rem;
    width: 100%;
}

.btn {
    padding: 1rem 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* student message */
.students_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.error_message,
.student_message {
    width: 600px;
    margin: 1rem;
}
.error {
    color: red;
}
.success {
    color: green;
}

/* read */
form {
    width: 100%;
}

form input {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1rem;
}

form label {
    font-size: 1.2rem;
}

/* table */
#studentsTable {
    width: 500px;
    min-width: 100%;
    margin: 1rem 0;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
}

#studentsTable thead tr {
    background-color: #008f99;
    color: wheat;
    text-align: left;
}

#studentsTable th,
td {
    padding: 5px;
}

#studentsTable tbody tr {
    border-bottom: 1px solid #bcf5ff;
}

#studentsTable tbody tr:nth-child(even) {
    background-color: #212a2b;
}

#studentsTable tbody tr:last-of-type {
    border-bottom: 2px solid #007780;
}

/* buttons on table */
.edit_btn,
.delete_btn {
    border-radius: 5px;
    border: none;
    background-color: #c0c0c0;
    color: black;

    font-size: 1.1rem;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
}
.edit_btn:hover {
    background-color: #1a9c00;
    color: white;
}

.delete_btn:hover {
    background-color: #a50000;
    color: white;
}
